* {
  box-sizing: border-box;
}

.mainNav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  list-style: none;
}

.mainNav a{
  color: #edd240;
  padding: 30px 30px 0px 30px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  display: inline-block;

}

nav {
  margin: auto;
}

#logo {
  background-color: white;
  display: inline-block;
  margin: 20px 0 0 40px;
}

#logopic {
  width: 120px;
  height: 85px;
}


.mainNav .icon{
  display: none;
}

@media screen and (max-width: 900px) {
  .mainNav a {display: none;}
  .mainNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .mainNav.responsive {position: relative;}
  .mainNav.responsive .icon {
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 0; }
  .mainNav.responsive a {
    float: none;
    display: block;
    text-align: center; }
  .slideshow {
    float: left;
    width: 100%;
  }
}

#mainbody{
  width: 100%;
  margin: auto;
  min-height: 500px;
  background-color: #f7d342;
}

#shopnow{
  width: 40%;
  float: left;
  padding-left: 50px;
}

@media screen and (max-width: 900px){
  #shopnow{
    float: left;
    margin-right: 100px;
  }
  #mainbody{
    height: 100%;
  }

}

main {
  width: 60%;
  float: left;
  
}



.slideshow {
  width: 60%;
}

.mySlides {
  display: inline-block;
  width: 100%;
}

.left, .right  {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
}



button {
  background-color: #4CAF50;
  border: none;
  font-size: 15px;
  color: pink;
  background-color: none;
  border-radius: 0 3px 3px 0;
}


article {
height: 250px;
margin-top: 500px;
margin-bottom: 1%;
background-color: #efefef;
}

nav, footer {
  margin: 1%;
}
      
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: hotpink;
  font-size: 16px;
  font-family: montserrat;
  text-align: center;
}


/*about page*/

.aboutus{
  font-family: Montserrat;
  text-align: center;
  color: hotpink;
  font-size: 25px;
}

.about{
  width: 100%;
  margin: auto;
  padding: 10px;
  position: relative;

}

#header{
  margin-top: 200px;
}

.icon{
  float: left;
  height: 500px;
  width: 500px;
  margin-left:50px;

}

.blurb{
  margin-top: 100px;
  float: right;
  font-size: 16px;
  font-family: montserrat;
  margin-right: 100px;
}

@media screen and (max-width: 600px){
  .blurb{
    text-align: center;
     margin-right: 20px;
    margin-top: 20px;
  }

  .icon{
    margin-left: 10px;
    float:left;
    width: 100%;
    height: 375px;
    margin-right: 20px;
  }







/*contact page*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: white;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: montserrat;
  font-color: #3d3d3d;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  font-family: montserrat;

}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: hotpink;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  font-family: montserrat;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
