* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: auto;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: white;
  height: 100%;
}

.mainNav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  list-style: none;
}

.mainNav a{
  color: #edd240;
  padding: 30px 30px 0px 30px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  display: inline-block;

}

nav {
  margin: auto;
}

#logo {
  background-color: white;
  display: inline-block;
  margin: 20px 0 0 40px;
}

#logopic {
  width: 120px;
  height: 85px;
}


.mainNav .icon{
  display: none;
}

@media screen and (max-width: 900px) {
  .mainNav a {display: none;}
  .mainNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .mainNav.responsive {position: relative;}
  .mainNav.responsive .icon {
    position: absolute;
    font-size: 10px;
    right: 0;
    top: 0; }
  .mainNav.responsive a {
    float: none;
    display: block;
    text-align: center; }
}

@media screen and (max-width: 900px){
  #shopnow{
    width: 100%;
    float: left;
    }
  #mainbody{
    max-height: 100%;
      }
}
/*end of @media */

#mainbody{
  width: 100%;
  margin-top: 50px;
  min-height: 400px;
  background-color: #f7d342;
}

#shopnow{
  margin-top: 5%;
  max-width: 600px;
  display: inline-block;
}

main {
  max-width: 50%;
  float: right;
  height: 100px;

}

img{
  vertical-align: middle;
  width: 100%;
}

.slideshow {
  width: 70%;
  position: relative;
}

.mySlides {
  display: none
  vertical-align: middle;
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: hotpink;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: white;
}

.dots {
  max-width: 600px;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 2px 0 0;
  background-color: #f7d342;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* for sildeshow */
@media only screen and (max-width: 900px) {
  img{
    width: 100%;
  }
  .prev, .next {
    display: none;
  }
  .slideshow {
    width: 100%;
  }
  .mySlides {
    width: 100%;
    min-height: 100px;
    display: block;
    float: left;
  }
  main {
    max-width: 100%;
    min-height: 100px;
    display: block;
    float: left;
  }
  .dots {
    height: 100px;

  }
  .dot {
    font-size: 3pt;
    margin: 0px 2px 0 0;
    background-color: #f7d342;

  }
}
/*end of slideshow @media */

nav, footer {
  margin: 1%;
}
      
.column1, .column2, .column3 {
  width: 31.3%;
  float: left;
  margin: 1%;
}

footer {
  position: fixed;
  margin: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: hotpink;
  font-size: 16px;
  font-family: montserrat;
  text-align: center;
}


/*about page*/

.aboutus{
  font-family: Montserrat;
  text-align: center;
  color: hotpink;
  font-size: 25px;
}

.about{
  width: 100%;
  margin: auto;
  padding: 10px;
  position: relative;

}

#header{
  margin-top: 200px;
}

.icon{
  float: left;
  height: 500px;
  width: 500px;
  margin-left:50px;

}

.blurb{
  margin-top: 100px;
  float: right;
  font-size: 16px;
  font-family: montserrat;
  margin-right: 100px;
}

@media screen and (max-width: 600px){
  .blurb{
    text-align: center;
     margin-right: 20px;
    margin-top: 20px;
  }

  .icon{
    margin-left: 10px;
    float:left;
    width: 100%;
    height: 375px;
    margin-right: 20px;
  }







/*contact page*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  font-family: montserrat;
  font-color: #3d3d3d;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  font-family: montserrat;

}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: hotpink;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  font-family: montserrat;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
